header{
  width: 400px;
  height: 200px;
  background-color: black;
  color: rgb(234, 149, 38);

}
div {
  width: 400px;
  height: 150px;
  background-color: aqua;
  display: flex;
  align-items: row-reverse;
  justify-content: space-around;
}
button {
   width: 20%;
   background-color: blueviolet;
   color: rgb(7, 24, 24);
}
